<div class="box-header with-border">
  <%= link_to t('.add') , new_course_path, class: 'btn btn-default' %>
</div>

<div class="box-body">
    <p id="notice"><%= notice %></p>
    <%= render 'table_info' %>
</div>
